Exercice 1

In [ ]:
list = [1,2,3,4]
for value in list:
  print(value*20)

20
40
60
80

In [ ]:
list = ["Elie", "Tim", "Matt"]
initials = [name[0] for name in list]
print(initials)

['E', 'T', 'M']

In [ ]:
list=[1, 2, 3, 4, 5, 6]
pair=[num for num in list if num % 2 == 0]
print(pair)

[2, 4, 6]

In [ ]:
list=[1, 2, 3, 4]
list1=[3,4,5,6]
print(set(list).intersection(set(list1)))

{3, 4}

In [ ]:
words = ["Elie", "Tim", "Matt"]
reversed_lowercase_words = [word[::-1].lower() for word in words]
print(reversed_lowercase_words)

['eile', 'mit', 'ttam']

In [ ]:
first="first"
third="third"
result =[]
for char in first :
  if(char in third) :
    result.append(char)
print(result)

['i', 'r', 't']

In [ ]:
divisible_by_12 = [num for num in range(1, 101) if num % 12 == 0]

print(divisible_by_12)

[12, 24, 36, 48, 60, 72, 84, 96]

In [ ]:
text="amazing"
vowels="aeiouy"
consonne=[char for char in text if char not in vowels]
print(consonne)

['m', 'z', 'n', 'g']

In [ ]:
result = [[0, 1, 2] for _ in range(3)]
print(result)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
result = [[ i for i in range (10)] for _ in range(10)]
print("[\n "+", \n ".join(str(row) for row in result)+"\n]")

[
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
]

Exercice 2

In [ ]:
# Liste de tuples
list_of_tuples = [("name", "Elie"), ("job", "Instructor")]

# Conversion en dictionnaire
result_dict = dict(list_of_tuples)

print(result_dict)

{'name': 'Elie', 'job': 'Instructor'}

In [ ]:
# Listes données
abbreviations = ["CA", "NJ", "RI"]
full_names = ["California", "New Jersey", "Rhode Island"]

# Création du dictionnaire en zippant les deux listes
result_dict = dict(zip(abbreviations, full_names))

print(result_dict)

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [ ]:
vowels=["a","e","i","o","u","y"]
# Création du dictionnaire avec compréhension
vowels_dict = {vowel: 0 for vowel in vowels}

print(vowels_dict)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'y': 0}

In [33]:
import string
# Créer le dictionnaire
position_dict = {i: letter for i, letter in enumerate(string.ascii_uppercase, start=1)}

print("{")
for key, value in position_dict.items():
    print(f"  {key}: '{value}',")
print("}")

{
  1: 'A',
  2: 'B',
  3: 'C',
  4: 'D',
  5: 'E',
  6: 'F',
  7: 'G',
  8: 'H',
  9: 'I',
  10: 'J',
  11: 'K',
  12: 'L',
  13: 'M',
  14: 'N',
  15: 'O',
  16: 'P',
  17: 'Q',
  18: 'R',
  19: 'S',
  20: 'T',
  21: 'U',
  22: 'V',
  23: 'W',
  24: 'X',
  25: 'Y',
  26: 'Z',
}

In [35]:
#Ce code parcourt chaque caractère de la chaîne en le convertissant
#en minuscules, et incrémente le compteur correspondant si c’est une voyelle.


# La chaîne donnée
text = "awesome sauce"

# Liste des voyelles
vowels = ['a', 'e', 'i', 'o', 'u']

# Initialiser le dictionnaire avec 0 pour chaque voyelle
vowel_counts = {vowel: 0 for vowel in vowels}

# Parcourir chaque caractère dans la chaîne
for char in text.lower():
    if char in vowel_counts:
        vowel_counts[char] += 1

print(vowel_counts)

{'a': 2, 'e': 3, 'i': 0, 'o': 1, 'u': 1}