In [17]:
# Exercice 1 :

from google.colab import drive
drive.mount('/content/drive')



import pandas as pd

file_path = '/content/drive/My Drive/Datasets/train.csv'
df = pd.read_csv(file_path)
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:

# Les lignes dupliquées:

# Renvoie un DataFrame avec uniquement les lignes dupliquées
duplicates = df[df.duplicated()]

# Nombre de lignes dupliquées
print(f"Nombre de lignes dupliquées : {duplicates.shape[0]}")

# (Facultatif) Afficher les lignes dupliquées
print(duplicates.head())

Nombre de lignes dupliquées : 0
Empty DataFrame
Columns: [STATIONS_ID;MESS_DATUM;QN_3;  FX;  FM;QN_4; RSK;RSKF; SDK;SHK_TAG;  NM; VPM;  PM; TMK; UPM; TXK; TNK; TGK;eor]
Index: []

In [ ]:

# Nombre de lignes AVANT suppression
rows_before = df.shape[0]

# Supprimer les lignes dupliquées
df_cleaned = df.drop_duplicates()

# Nombre de lignes APRÈS suppression
rows_after = df_cleaned.shape[0]

# Afficher la comparaison
print(f"Nombre de lignes avant suppression : {rows_before}")
print(f"Nombre de lignes après suppression : {rows_after}")
print(f"Nombre de doublons supprimés : {rows_before - rows_after}")

Nombre de lignes avant suppression : 25051
Nombre de lignes après suppression : 25051
Nombre de doublons supprimés : 0

In [25]:
# Exercise 2: Handling Missing Values


# step 1:

from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

file_path = '/content/drive/My Drive/Datasets/train.csv'
df = pd.read_csv(file_path)
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:

# Afficher les colonnes avec des valeurs manquantes
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Age         177
Cabin       687
Embarked      2
dtype: int64

In [37]:
# step 2:



# step 3:

#Age        19.87% ==> remplacement par la mediane
#Cabin      77.10% ==> suppression
#Embarked    0.22% ==>

# Supprimer une colonne spécifique (ex : Cabin)
if "Cabin" in df.columns:
    df = df.drop(columns=["Cabin"])

# Remplacement des valeurs vides de âge par la mediane:

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
# Transforme la colonne Age et remplace les NaN par la médiane
df[['Age']] = imputer.fit_transform(df[['Age']])


# Remplacer les valeurs manquantes de 'Embarked' par la valeur la plus fréquente
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])


# Vérification des colonnes avec des valeurs manquantes
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [46]:
# Exercise 3: Feature Engineering



#Step 1:

# Créer la nouvelle colonne FamilySize
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

print(df['FamilySize'].head())

# Créer la nouvelle colonne FamilySize. avec extraction du titre de name

df['Title'] = df['Name'].apply(lambda name: name.split(',')[1].split('.')[0].strip())

print(df[['Name', 'Title']].head())


print(df.head())

0    2
1    2
2    1
3    2
4    1
Name: FamilySize, dtype: int64
                                                Name Title
0                            Braund, Mr. Owen Harris    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Mrs
2                             Heikkinen, Miss. Laina  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Mrs
4                           Allen, Mr. William Henry    Mr
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked  FamilySize Title
0      0         A/5 21171   7.2500        S           2    Mr
1      0          PC 17599  71.2833        C           2   Mrs
2      0  STON/O2. 3101282   7.9250        S           1  Miss
3      0            113803  53.1000        S           2   Mrs
4      0            373450   8.0500        S           1    Mr

In [45]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked', 'FamilySize', 'Title'],
      dtype='object')

In [47]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,2,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,2,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,2,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,1,Mr

In [48]:
cat_cols = df.select_dtypes(include='object').columns
print(cat_cols)

Index(['Name', 'Sex', 'Ticket', 'Embarked', 'Title'], dtype='object')

In [49]:
cols_to_encode = ['Sex', 'Embarked', 'Title']

In [51]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])


df = pd.get_dummies(df, columns=['Embarked', 'Title'], drop_first=True)


print(df.head())
print(df.columns)

KeyError: "None of [Index(['Embarked', 'Title'], dtype='object')] are in the [columns]"

In [53]:
from sklearn.preprocessing import StandardScaler

# Sélection des colonnes numériques à standardiser
cols_to_scale = ['Age', 'FamilySize']

# Initialisation du scaler
scaler = StandardScaler()

# Application du scaler et remplacement des colonnes dans le DataFrame
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

# Affichage des premières lignes pour vérification
print(df[cols_to_scale].head())

        Age  FamilySize
0 -0.565736    0.059160
1  0.663861    0.059160
2 -0.258337   -0.560975
3  0.433312    0.059160
4  0.433312   -0.560975

In [52]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'FamilySize', 'Embarked_Q', 'Embarked_S',
       'Title_Col', 'Title_Don', 'Title_Dr', 'Title_Jonkheer', 'Title_Lady',
       'Title_Major', 'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme',
       'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir',
       'Title_the Countess'],
      dtype='object')